body {
  margin: 0;
  line-height: normal;
}

* a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

:root {
  --heading-1: Poppins;

  --body-2-size: 16px;
  --heading-1-size: 54px;
  --label-01-size: 18px;
  --heading-3-size: 38px;
  --heading-2-size: 48px;
  --heading-6-size: 24px;

  --white: #fff;
  --color-lightsteelblue: #bbbbcb;
  --grey: #f4f6fc;
  --color-ghostwhite-100: rgba(244, 246, 252, 0.2);
  --color-darkslateblue: #1c1e53;
  --dark-blue: #282938;
  --b: #1d2130;
  --yellow: #fcd980;

  --br-22xl: 41px;
}
